@import "tailwindcss/preflight"; /* replaces @tailwind base */
@import "tailwindcss/components"; /* replaces @tailwind components */
@import "tailwindcss/utilities"; /* replaces @tailwind utilities */
